[mysqld]
default_authentication_plugin=mysql_native_password
bind-address            = 0.0.0.0
server-id               = 2
relay-log               = /var/run/mysqld/mysql-relay-bin.log
log_bin                 = /var/run/mysqld/mysql-bin.log
relay-log-recovery      = on
read_only = on
gtid_mode                = on
enforce_gtid_consistency = on
log_replica_updates        = on