[mysqld]

bind-address            = 0.0.0.0
server-id               = 1
log_bin                 = /var/run/mysqld/mysql-bin.log

gtid_mode                = on
enforce_gtid_consistency = on
log_replica_updates        = on